body {
	border: 15px solid white;
	text-align: center;
}
* {
	background-color:#6D6C6C;
	margin: auto;
	}
.row1 {
	background: #B2A2BF;
}

.block1 {
	color:#F78D8D;
	}
	table {
		color: white;
		text-align: left;
	}
.row1 { 

}